.mat-confirm-bouton{
    display: flex;
    justify-content: space-evenly;
}

.mat-confirm-bouton button{
    background-color: var(--couleur-primaire);
    color: #fff;
}

.mat-confirm-bouton .danger{
    background-color: #8a1a25;
    color: #fff;
}