<section class="page-accueil">
    <a href="bouteilles">
        <div class="card">
            <h2>Ajouter une bouteille</h2>
            <mat-icon svgIcon="catalogue"></mat-icon>
            <p>Avec Vino, vous pouvez ajouter une bouteille à votre cellier depuis le catalogue.</p>
        </div>
    </a>
    
    <a href="cellier">
        <div class="card">
            <h2>Visitez votre cellier</h2>
            <mat-icon svgIcon="cellier"></mat-icon>
            <p>Avec Vino, vous pouvez gerer & personnaliser votre cellier </p>
        </div>
    </a>
</section>