.card{
    margin: 1rem 0;
    border-radius: 5px;
    border: 2px solid var(--couleur-primaire);
}

.page-accueil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.card h2{
    margin: 0;
    color: var(--couleur-primaire);
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding: 0.25rem;
    font-size: 2rem;
}

.card p{
    color: var(--couleur-primaire);
    padding: 0.25rem 0.5rem;
    text-align: center;
}

mat-icon{
    height: 30vw;
    width: 30vw;
    display: block;
    margin: auto;
    color: var(--couleur-primaire);
}

a{
    text-decoration: none;
}