<div class="content">
    <div class="card"> 
        <div class="card-title">
            <h4>Gerer votre collection</h4>
        </div>
        <div class="card-content">
            <p>Utilisez notre outil de gestion des celliers du vin en ligne pour suivre votre collection, voir sa valuer et regarder on historique. Les utlisateurs gèrent actuellement de millons de bouteilles.</p>
            <hr width="90%" />
        </div>
    </div>

    <div class="card">
        <div class="card-title">
            <h4>Suivre l'historique de consommation</h4>
        </div>
        <div class="card-content">
            <p>Vino vous permet de suivre ce que vous avez bu -à partir de votre cellier- et ajouter votre propre note de dégustation et des images.</p>
            <hr width="90%" />
        </div>
    </div>

    <div class="home-btns">
        <button type="submit" routerLink ="/connection">Se connecter </button>
    </div>
    <div class="home-btns">
        <button type="submit" routerLink ="/creerCompte"> Créer un compte </button>
    </div>
</div>