
# ignore IDE/hidden/OS cache files
.*
*~
nbproject
nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini
dataconf.php

# ignore Composer downloads
/vendor/*
/bower_components/*

# keep some hiddens
!.htaccess
!/.gitignore
!/.travis.yml
!/.project

.push.settings.jsonc
