.row .col.s12.recherche {
    width: 80%;
    float: none;
    margin-right: auto;
  }
  
.recherche.input-field .prefix ~ label {
  margin-left: 3rem;
}

.row .col.s12.recherche.input-field .prefix.active {
  color: #778D83;
}

.row .col.s12.recherche > input {

  margin-bottom: 0;
  margin-right: auto;
  border: 1px #CDCED1 solid;
  border-radius: 10px;
  margin-left: 0;
  width: 100%;
  padding-left: 10px;
}

.row .col.s12.recherche > i {

  color: #CDCED1
}

/* https://www.w3schools.com/howto/howto_js_autocomplete.asp */
.autocomplete {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }

  