.image-vin-conteneur {
display: flex;
align-items: center;
gap: 1rem;
}
.image-vin {
    height: 4.768rem;
    width: 4.768rem;
    object-fit: cover;
}
.col.s12.edit-vin {
    padding: 1rem;
    border-radius: 5px;
    border: none;
}
.file-field {
    flex-grow: 1;
}

body main {
    padding-bottom: 4em;
}