.cellier{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.25rem;
    color: #343B41;
    background-color: #E0CFA0;
}

.emplacement{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #343B41;
    background-color: #E0CFA0;
}



.flex{
    display: flex;
}

.info{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0.64rem;
}

* + *, p {
    margin: 0;
    padding: 0;
}

.image{
    margin: 0.64rem;
    width: 30px;
    height: 112px;
    object-fit: cover;
}

.nomVin{
    padding: 0.64rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: #343B41;
    background-color: #99AAA2;
}

section{
    border-style: solid;
    border-color: #99AAA2;
    border-width: 1px;
    padding-bottom: 1.25rem;
    border-bottom: none;
    border-left: none;
    border-right: none;
}



/*** boutons ajout et retrait d'un vin existant ****/

.bouton-conteneur{
    align-self: center;
    margin-left: auto;
    padding-right: 0.64rem;
    column-gap: 0.64rem;
    
}

.bouton-cercle-add{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#778D83;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: all 0.2s ease;
}

.bouton-cercle-add:hover{
    background-color: #99AAA2;
}

.bouton-cercle-remove{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#7A5958;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: all 0.2s ease;
}

.bouton-cercle-remove:hover{
    background-color: #99AAA2;
}

.icon-item{
   color: white;
}


  /* Materialize css */


.material-icon {
    color: white;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* bouton ajout */

.bouton-ajout-vin-conteneur{
    display: flex;
    justify-content: center;
    margin-left: 0.64rem;
    margin-right: 0.64rem;
    margin-bottom: 1rem;
}

.bouton-ajout-vin{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.512rem;
    padding-bottom: 0.512rem;
    padding-right: 1rem;
    padding-left: 1rem;
    /* border-style: solid;
    border-color: #707070; */
    border-radius: 30px;
    color: #343B41;
    font-weight: 700;
    background-color: #CDCED1;
    transition: all 0.2s ease;

}

.bouton-ajout-vin:hover{
    background-color:#778D83;
    color: white;
}

.entete-icon-bouton{
    display: flex;
    column-gap: 1rem;
    justify-content: center;
}


/*  pour alterner de couleur */

/* section{
    background-color: aqua;
}

section:nth-child(even) {
    background-color: Lightgreen;
} */