img[name="img-bouteille"]
{
    margin: auto;
    margin-bottom: 10px;
}


div > h1 {
    color: #7A5958;
    text-align: center;
    margin-bottom: 0.5em;
}

button[name="annuler"] {
    background-color: #742F30;
    margin-right: 1em;
}

button[name="annuler"]:hover{
    background-color: #7A5958;
}

.flex-row {
    justify-content: end;
    margin-top: 1em;
}
.col.s12.ajout-vin {
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid #BBC7C1;
}





