div > h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.col.s12.ajout-vin {
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid #BBC7C1;
}

.image {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.row.barre-recherche {
    margin-left: unset; 
     margin-right: unset;
    margin-bottom: 20px;
}


