.cellier{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.25rem;
    color: #343B41;
    background-color: #E0CFA0;
}

.emplacement{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: #7A5958;
}

main h1{
    margin-top: 50px;
    margin-bottom: 50px;
}

.flex{
    display: flex;
}



.info{
    display: flex;
    flex-direction: column;
    padding: 20px 60px 0 0;
}

* + *, p {
    margin: 0;
    padding: 0;
}

div img{
  
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20vw;
    min-height: 7rem;
    max-height: 9rem;
    width: auto;
    object-fit: contain;
}

.nomVin{
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #343B41;
    background-color: #99AAA2;
}

section{
    border-style: solid;
    border-color: #99AAA2;
    border-width: 1px;
    padding-bottom: 1.25rem;
}




.bouton-conteneur{
    margin-left: auto;
    padding-right: 10px;
}

.bouton-cercle-add{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#BBC7C1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.bouton-cercle-remove{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#7A5958;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.icon-item{
   color: white
}

