.entete-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    color: #742F30;
    padding: 1rem;
    text-align: center;
}

.no-cellier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.liste-celliers {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.lien-cellier {
    display: flex;
    width: 100%;
}

.cellier {
    padding: 1rem;
    border-radius: 5px;
    flex-grow: 1;
    background-color: #BBC7C1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
}

.texte-cellier-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.texte-cellier-container>* {
    margin: 0;
}

.nom-cellier {
    font-size: 2rem;
    color: #343B41;
    font-weight: bold;
}

.map-icone {
    height: 1.25rem;
    width: auto;
}

.localisation-cellier {
    color: #707070;
    font-size: 1.25rem;
}

.droite-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.bouteille-icone {
    height: 20vw;
    min-height: 5rem;
    max-height: 8rem;
    width: auto;
}

.nb-vins-cellier {
    width: 40px;
    font-size: 1.25rem;
    color: #343B41;
    text-align: end;
}

/* Formulaire d'ajout */

.form-ajout {
    padding: 1rem;
    border-radius: 5px;
    flex-grow: 1;
    border: 2px solid #BBC7C1;
    display: flex;
}

.form-ajout>form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.btn-sup-container {
    padding: 1rem;
    display: flex;

}


.bouton-conteneur{
    display: flex;
    justify-content: center;
}

.bouton-cercle-add{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#AA7E42;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

  /* Materialize css */


.material-icons {
    color: white;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}