.cellier {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #7A5958;
    background-color: #E0CFA0;
}

.localisation {
    position: relative;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #343B41;
    background-color: #CDCED1;
}

.flex {
    display: flex;
}



*+*, p {
    margin: 0;
    padding: 0;
}

.articlesConteneur {
    margin: 0.64rem;
    display: flex;
    flex-direction: column;
    gap: 0.64rem;
}

.articleVin {
    border: 2px solid;
    display: flex;
    flex-direction: column;
    
}

.underline{
    text-decoration: underline;
}

.nomVinConteneur {
    padding: 0.64rem;
    /* font-size: 1.25rem;
    font-weight: 700;
    color: #343B41; */
    background-color: #7A5958;
    
}

.nomVinConteneur>h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
}

.infoBouteilleConteneur {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
    margin: 0.64rem;
    margin-left: 1.5rem;
    width: 30px;
    height: 83px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    padding: 0.64rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.bouteilleSAQConteneur {
    display: flex;
    align-items: center;
    gap: 0.64rem;
    padding: 0.64rem;
}

.lienSAQ {
    color: #7A5958;
    font-weight: 700;
    padding: 0.64rem;
}

.nonlienSAQ {
    padding: 0.64rem;
}


.cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid #7A5958;
}

.check {
    color: #778D83;
}

.infoCellierBouteilleConteneur {
    display: flex;
    flex-direction: column;
    gap: 0.64rem;
}

.infoCellierBouteille {
    display: flex;
    
    padding: 0.64rem;
    padding-left: 1.5rem;
    background-color: #CDCED1;
}

.infoUnitaires p {

color: #343B41;

}

.infoUnitaires .select {
    padding-top: 0.41rem;
    padding-bottom: 0.41rem;
}

/* section {
    border-style: solid;
    border-color: #99AAA2;
    border-width: 1px;
    padding-bottom: 1.25rem;
    border-bottom: none;
    border-left: none;
    border-right: none;
} */

/*** boutons ajout et retrait d'un vin existant ****/

.bouton-conteneur {
    align-self: center;
    margin-left: auto;
    
    column-gap: 0.64rem;
}

.bouton-cercle-add {
    
    transition: all 0.2s ease;
}

.bouton-cercle-add:hover {
    background-color: #99AAA2;
}

.bouton-cercle-add a {
    background-color: #778D83;
}

.bouton-cercle-remove {
    
    transition: all 0.2s ease;
}

.bouton-cercle-remove:hover {
    background-color: #99AAA2;
}

.bouton-cercle-remove a {
    background-color: #7A5958;
}

.bouton-cercle-remove a:hover {
    background-color: #AC9678;
}


/* Materialize css */

.material-icon {
    
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* bouton ajout */

.bouton-ajout-vin-conteneur {
    display: flex;
    justify-content: center;
    margin-top: 0.64rem;
    margin-left: 0.64rem;
    margin-right: 0.64rem;
    margin-bottom: 1rem;
}

.bouton-ajout-vin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.512rem;
    padding-bottom: 0.512rem;
    padding-right: 1rem;
    padding-left: 1rem;
    /* border-style: solid;
    border-color: #707070; */
    border-radius: 30px;
    color: #343B41;
    font-weight: 700;
    background-color: #99AAA2;
    transition: all 0.2s ease;
}

.bouton-ajout-vin>i {
    color: #343B41;
}

.bouton-ajout-vin:hover {
    background-color: #778D83;
    color: white;
}

/* .bouton-ajout-vin:hover>i {
    color: white;
} */

.entete-icon-bouton {
    display: flex;
    column-gap: 1rem;
    justify-content: center;
}


.cellier .select-wrapper input.select-dropdown,
.cellier .select-wrapper input.select-dropdown:focus,
.bouteille-nom .select-wrapper input.select-dropdown,
.bouteille-nom .select-wrapper input.select-dropdown:focus
 {
    border-bottom: none;
}

.cellier .select-wrapper input.select-dropdown {
    font-size: 1.25rem;
    font-weight: 700;
    color: #7A5958;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0;
    height: 1.5em;
}

.cellier .dropdown-content li>span {
    color: #7A5958;
    text-align: center;
}


.bouteille-nom .select-wrapper {
    flex-grow: 1;
}

.bouteille-nom .select-wrapper input.select-dropdown {
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0;
    height: 1.5em;
}

.bouteille-nom .dropdown-content li>span {
    color: #7A5958;
    text-align: center;
}

.nonborder {
    border: none;
}

