
.no-cellier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.liste-celliers {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
}

.lien-cellier {
    display: flex;
    width: 100%;
}

.cellier {
    padding: 0.64rem;
    border-radius: 5px;
    flex-grow: 1;
    background-color: #BBC7C1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
}

.texte-cellier-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.texte-cellier-container>* {
    margin: 0;
}

.nom-cellier {
    font-size: 1.25rem;
    color: #343B41;
    font-weight: bold;
}

.localisation-cellier {
    color: #343B41;
    font-size: 1rem;
}

.droite-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.bouteille-icone {
    height: 20vw;
    min-height: 5rem;
    max-height: 8rem;
    width: auto;
}

.nb-vins-cellier {
    width: 40px;
    font-size: 1.25rem;
    color: #343B41;
    text-align: end;
}

/* Formulaire d'ajout */

.form-ajout {
    padding: 1rem;
    border-radius: 5px;
    flex-grow: 1;
    border: 2px solid #BBC7C1;
    display: flex;
}

.form-ajout>form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.btn-sup-container {
    padding: 1rem;
    display: flex;

}

.bouton-ajout-vin-conteneur{
    display: flex;
    justify-content: center;
    margin: 0.64rem;
    margin-top: 0;
}

.bouton-ajout-vin{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.512rem;
    padding-bottom: 0.512rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-style: solid;
    border-color: #778D83;
    border-radius: 30px;
    color: #343B41;
    font-weight: 700;
    transition: all 0.2s ease;
}

.bouton-ajout-vin:hover{
    background-color: #CDCED1;
}

.entete-icon-bouton{
    display: flex;
    column-gap: 1rem;
    justify-content: center;
}




