/**** fiche d'un vin ****/

.bouteille-nom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7A5958;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.64rem;
}

.description-titre{
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 0.512rem;
}

.millesime-conteneur{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 0.64rem;
    column-gap: 0.64rem;
    padding-left:0.64rem;
}

.millesime-item{
    display: flex;
    width: 106px;
    height: 36px; 
    background-color: #7A5958;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    text-decoration:none ;
    border: none;
    cursor: pointer;
}

 .millesime-item-selected{
    background-color: #AC9678;
} 

.millesime-item:active{
    background-color: #AC9678;
}

.millesime-item:focus {
    background-color: #AC9678;
}

textarea:focus-visible{
    outline: 0;
}

.form-modifier{
    display: flex;
    flex-direction: column;
}

.select-form{
    display: flex;
    justify-content: flex-end;
    padding-top: 0.64rem;
}

 .form-modifier-item{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    padding-top: 25px;
} 

.item-commentaire{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    padding-top: 0.64rem;
    margin: 0;
}

.item-commentaire label{
     font-size: 1.25rem;
}

.form-modifier-item label{
    display: flex;
    padding: 1rem;
    align-items: center;
    font-size: 1rem;
    color: #343B41;
}

.image-fiche {
    margin: 0.64rem;
    width: 79px;
    height: 287px;
    object-fit: cover;
}

.form-modifier .form-modifier-item .input-fiche-cercle { 
    width: 60px ;
    height: 60px ;
    border-style: none ;
    border-radius: 50% ;
    background-color: #BBC7C1;
    text-align: center;
    margin-bottom: 0;
    padding:1px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.millesime-info-debut{
    display: flex;
    column-gap: 1rem;
    justify-content: space-evenly;
    padding: 1.563rem;
}

.millesime-info-fin{
    display: flex;
    flex-direction: column;
    margin-left: 0.64rem;
    margin-right: 0.64rem;
}

.textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border-style: none;
    resize:both;
}

input:focus-visible{
    outline: 0;
}

.bouton{
    display: flex;
    flex-direction: column;
    row-gap: 0.64rem;
    padding-left: 0.64rem;
    padding-right: 0.64rem;
}

.bouton-fiche{
    text-align: center;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
    font-weight: 700;
    font-size: 1.953rem;
    background-color: #E0CFA0;
    color: #7A5958;
    font-family: raleway;
    border: none;
    border-radius: 6px ;
}

.valider{
    background-color: #99AAA2;
    color: #343B41;
}

.effacer{
    background-color: #7A5958;
    color: white;
}

.non-active{
    display: none;
}

.input-active{
    border-style:solid;
    border-color: #99AAA2;
}

.icon-modifier-bouteille{
    display: flex;
    justify-content: end;
}

.bouteilleSAQConteneur-fiche {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bouteilleSAQConteneur-fiche p{
    padding: 0.64rem;
}

.info-fiche {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    padding: 0.64rem;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
}

.material-icons-fiche {
    color: #AA7E42;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 33px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    padding:0.64rem;
}

.infoBouteilleConteneur-fiche {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


/**** infographie, texture, police etc....***/

.bold{
    font-weight: 700;
}

.bold-20px{
    font-weight: 700;
    font-size: 1.563rem;
}

.nonValide{
    color: red;
    text-align: right;
}

.champNonValide{
    border-style: dashed;
    border-color: red;
    background-color: #cbd0d488;
}

.boutonNonValide{
    opacity: 50%;
}

div#social-links {
    max-width: 500px;
}
div#social-links ul li {
    display: inline-block;
}          
div#social-links ul li a {
    padding: 10px;
    margin: 1px;
    font-size: 30px;
    color: #222;
}