html {
  font-family: 'Raleway', sans-serif;
}

h1,h4 {
  font-family: 'Acme', sans-serif;
}



* + *, h1,h2,h3,h4,h5,h6 {
margin: 0;
padding: 0;
}


.height-120{
	height: 120px !important;
}

img {
    width: 100px;
    height: 100px;
}


/* css pour app.blade.php */

.padding-30 {
	padding-left:10px;
	padding-right:10px;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-box {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	padding: 30px;
  }

.flex-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}


<<<<<<< HEAD

=======
  /* Materialize css */

  .btn, .btn-large, .btn-small {
	background-color: #99AAA2;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
	background-color: #BBC7C1;
}

.input-field .prefix {
	right: 0;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #778D83;
    box-shadow: 0 1px 0 0 #778D83;
}
>>>>>>> 82df968b3a59161a818db31de36ed31399f264d1




