html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #343B41;
}
body {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1,h4 {
  font-family: 'Acme', sans-serif;
}

h1 {
    color: #7A5958;
    text-align: center;
	font-size: 3.815rem;
}


* + *, h1,h2,h3,h4,h5,h6 {
margin: 0;
padding: 0;
}


.height-120{
	height: 120px !important;
	/* height: 120px; */
}

img {
    width: 100px;
    height: 100px;
}

.input-field .helper-text.erreur {
	color: #F44336;
}
/* css pour app.blade.php */

.padding-30 {
	padding-left:10px;
	padding-right:10px;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-box {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	padding: 30px;
  }

.flex-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}


  /* Materialize css */

  .btn, .btn-large, .btn-small {
	background-color: #99AAA2;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
	background-color: #BBC7C1;
}

.input-field .prefix {
	right: 0;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #778D83;
    box-shadow: 0 1px 0 0 #778D83;
}

#toast-container {
	top: auto !important;
	right: auto !important;
	bottom: 0;
	left: auto !important;
	
  }

  .btn, .btn-large, .btn-small, .btn-flat {
      text-transform: none;
  }
  
/* Les boutons */

.btn-space {
    display: flex;
    gap: 1rem;
}

.btn-space-col {
	display: flex;
	flex-direction: column;
    gap: 1rem;
}

.button {
    border-radius: 5px;
    flex-grow: 1;
    font-weight: bold;
    font-size: 1.25rem;
}

.btn-annuler {
	border: 1px solid #99AAA2;
    background-color: white;
	color: #343B41;
}

.btn-ajouter {
	background-color: #99AAA2;
    color: #343B41;
}

.btn-modifier {
	background-color: #E5CB85;
    color: #774444;
}

.btn-modifier:hover {
	background-color: #774444;
    color: #E5CB85;
	border: 1px solid #E5CB85;
}

.btn-supprimer {
    color: white;
    background-color: #774444;
}

.btn-supprimer:hover {
    color: #774444;
    background-color: white;
	border: 1px solid #774444;
}


.list-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}




/*** Bouton ajout principale (cercle) ***/

.bouton-ajout-conteneur{
    display: flex;
    justify-content: start;
    margin-left: 10px;
    margin-bottom: 0.4rem;
}

.bouton-cercle-ajout{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#778D83;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

  /* Materialize css */


.material-icons {
    color: white;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}