
<div class="content">
    <h1>Catalogue de bouteilles</h1>
    <section *ngFor="let uneBouteille of bouteille" class="resultat">
        <div class="resultat-vin">
            <a class="btn-vin" href="#"><img src="{{uneBouteille.url_image}}" alt="une bouteille"></a>
            <div class="resultat-vin-data"><a class="target-link" href="#">{{uneBouteille.nom}}</a></div>
            <div class="vin-data-droit">{{uneBouteille.format}}</div>
            <span class="subtexte"></span>
        </div>
        <div>
            <div>
                <span class="subtexte">id pays: {{uneBouteille.pays_id}}</span>
            </div>
            <div class="subtexte"></div>
        </div>
    </section>
</div>
