
<div class="content">
    <h2 class="titre">Catalogue de bouteilles</h2>
    <!-- Filtre -->
    <mat-form-field>
        <mat-label><mat-icon>search</mat-icon>Trouvez une bouteille</mat-label>
        <input matInput (keyup)="recherche($event)" [formControl]="texteRecherche">
    </mat-form-field>
    <section  *ngFor="let uneBouteille of bouteille" class="resultat" routerLink="/ficheBouteille/{{uneBouteille.id}}">
        <div class="resultat-vin">
            <img src="{{uneBouteille.url_image}}" alt="une bouteille">
            <div class="resultat-vin-data"><a class="target-link" routerLink="/ficheBouteille/{{uneBouteille.id}}" >{{uneBouteille.nom}}</a></div>
            <div class="vin-data-droit">{{uneBouteille.format}}</div>
            <span class="subtexte">{{uneBouteille.categorie}}</span>
        </div>
        <div>
            <span class="subtexte">{{uneBouteille.pays}}</span>
            <div class="subtexte"></div>
        </div>
    </section>
</div>
