.modification_titre {
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
}

.modification_contenu input {
    padding: .7rem;
    border-radius: .5rem;
    border: none;
}

.modification_contenu input:focus {
    outline: unset;
}

.modification_contenu button {
    width: 100%;
    color: white;
    outline: unset;
    border-radius: .5rem;
    padding: .5rem 1rem;
    border: none;
    margin-bottom: 2rem;
    font-size: 1em;
    font-weight: 700;
    background-color: #641B30;
}

.modification_contenu fieldset {
    border-color: white !important;
}

.modification_contenu label,
.modification_contenu input {
    color: white !important;
}