<div class="conteneur">
    <form class="formulaire">
        <div>
            <div>
                <h2 class="step__title">Ajouter une bouteille</h2>
                <button>
                    <img src="assets/img/bottle-add.png" alt="">
                </button>
            </div>
            <div class="step__body">
                <div>
                    <label for="nom">Nom</label>
                    <input type="text" id="nom" name="nom" class="step__input">
                </div>
                <div>
                    <label for="producteur">Producteur</label>
                    <input type="text" id="producteur" name="producteur" class="step__input">
                </div>
                <div>
                    <label for="categorie">Catégotie</label>
                    <select id="categorie" class="">
                        <option disabled="disabled" selected="selected" >Catégorie</option>
                        <option>Rouge</option>
                        <option>Rosé</option>
                        <option>Blanc</option>
                        <option>Dessert Rouge</option>
                        <option>Dessert Blanc</option>
                        <option>Mousseux</option>
                    </select>
                </div>
                <div>
                    <label for="annee">Année</label>
                    <input type="text" id=annee name="annee" minlength="2" maxlength="50" class="step__input" >
                </div>
                <div>
                    <label for="format">Format</label>
                    <select id="format" class="">
                        <option disabled="disabled" selected="selected" >Format</option>
                        <option>1 L</option>
                        <option>1,5 L</option>
                        <option>200 ml</option>
                        <option>3 L</option>
                        <option>375 ml</option>
                        <option>500 ml</option>
                        <option>4 L</option>
                        <option>5 L</option>
                        <option>6 L</option>
                        <option>750 ml</option>
                    </select>
                </div>
                <div>
                    <label for="alcool">Degré d'alcool</label>
                    <input type="text" id="alcool" name="alcool" class="step__input">
                </div>
                <div>
                    <label for="pays">Pays</label>
                    <select id="pays" class="">
                        <option disabled="disabled" selected="selected" >Pays</option>
                        <option>France</option>
                        <option>Italie</option>
                        <option>Espagne</option>
                        <option>Portugal</option>
                        <option>États-Unis</option>
                        <option>Canada</option>
                        <option>Chili</option>
                        <option>Australie</option>
                        <option>Argentine</option>
                    </select>
                </div>
                <div>
                    <label for="quantite">Quantité</label>
                    <input type="text" id=quantite name="quantite" minlength="2" maxlength="50" class="step__input" >
                </div>
                <div>
                    <label for="conservation">Conservation</label>
                    <input type="text" id="conservation" name="conservation" class="step__input">
                </div>
    
            </div>
    
        </div>
    </form>
</div>
