<div class="conteneur">
    <form class="formulaire">
        <header>
            <h2>Ajouter une bouteille</h2>
        </header>
        <div class="formulaire-contenu">
            <mat-form-field appearance="fill" class="input-case">
                <label for="millesime">Millesime</label>
                <input type="text" id="millesime" name="millesime">
            </mat-form-field>
            <mat-form-field class="input-case">
                <label for="Quantite">Quantité</label>
                <input type="text" id="Quantite" name="Quantite" class="step__input">
            </mat-form-field>
            <mat-form-field class="input-case">
                <label for="date_achat">Date d'achat</label>
                <input type="date" id=date_achat name="date_achat" class="step__input" >
            </mat-form-field>
            <mat-form-field class="input-case">
                <label for="prix">Prix</label>
                <input type="text" id="prix" name="prix" class="step__input">
            </mat-form-field>
            <mat-form-field class="input-case">
                <label for="conservation">Conservation</label>
                <input type="text" id=conservation name="conservation" minlength="2" maxlength="50" class="step__input" >
            </mat-form-field>
            <mat-form-field class="input-case">
                <label for="notes">Notes</label>
                <input type="text" id="notes" name="notes" class="step__input">
            </mat-form-field>
        </div>
        <button>Ajouter la bouteille </button>

    </form>
</div>
