<div>
    <form [formGroup]="ajoutBouteille" (ngSubmit)=postBouteilleCellier(ajoutBouteille.value)>
        <div class="formulaire-contenu">
            <mat-form-field appearance="fill" class="input-case">
                <mat-label for="millesime">Millesime</mat-label>
                <input matInput type="text" id="millesime" formControlName="millesime">
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-case">
                <mat-label for="inventaire">Quantité</mat-label>
                <input matInput type="text" id="inventaire" formControlName="inventaire" class="step__input">
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-case">
                <mat-label for="date_acquisition">Date d'achat</mat-label>
                <input matInput type="date" id=date_acquisition formControlName="date_acquisition" class="step__input" >
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-case">
                <mat-label for="prix_paye">Prix</mat-label>
                <input matInput type="text" id="prix_paye" formControlName="prix_paye" class="step__input">
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-case">
                <mat-label for="conservation">Conservation</mat-label>
                <input matInput type="text" id=conservation formControlName="conservation" class="step__input" >
            </mat-form-field>
            <mat-form-field appearance="fill" class="input-case">
                <mat-label for="notes_personnelles">Notes</mat-label>
                <input matInput type="text" id=notes_personnelles formControlName="notes_personnelles" class="step__input" >
            </mat-form-field>
        </div>
        <mat-dialog-actions>
            <button type="submit" mat-raised-button>Ajouter la bouteille</button>
        </mat-dialog-actions>

    </form>
</div>


