.messageErreur{
    color: red;
}

/*.liste_bouteilles {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    margin: 1em auto;
    flex-wrap: wrap;
}*/

.bouton_bouteilles {
    display: flex;
    flex-direction: column;
}

.liste_bouteilles {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin: 1em auto;
    flex-wrap: wrap;
}

.cellier_vide {
    color: #641B30;
    font-size: 1.5em;
    font-weight: 600;
    margin: 2rem 1rem 0 1rem;
    text-align: center;
}