.ajout_bouteille_cellier_titre {
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
}

.formulaire_ajout_bouteille_cellier input {
    padding: .7rem;
    border-radius: .5rem;
    border: none;
}

.formulaire_ajout_bouteille_cellier input:focus {
    outline: unset;
}

.formulaire_ajout_bouteille_cellier button {
    width: 100%;
    color: white;
    outline: unset;
    border-radius: .5rem;
    padding: .5rem 1rem;
    border: none;
    margin-bottom: 2rem;
    font-size: 1em;
    font-weight: 700;
    background-color: #641B30;
}

.formulaire_ajout_bouteille_cellier fieldset {
   border-color: white;
}

.formulaire_ajout_bouteille_cellier label, .formulaire_ajout_bouteille_cellier input {
    color: white;
}

.recherche_saq {
    color: white;
}

.champs_recherche {
    color: black;
}
