<header class="card-action">
    <a class="retour" (click)='back()'><mat-icon>arrow_back</mat-icon>Retour</a>
    <button (click)="formulaireAjout(bouteille)">ajouter au cellier</button>
</header>

<div *ngIf="bouteille" class="content">
    <mat-card class="example-card">
        <img mat-card-image src="{{bouteille.url_image}}" alt="Photo of a Shiba Inu">
        <mat-card-header class="card-header">
            <h2>{{bouteille.nom}}</h2>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">

            <dl>
                <div *ngIf="bouteille.format">
                    <dt><strong>Format</strong></dt>
                    <dd>{{bouteille.format}}</dd>
                </div>

                <div *ngIf="bouteille.categories">
                    <dt><strong>Catégorie</strong></dt>
                    <dd>{{bouteille.categories }}</dd>
                </div>
    
                <div *ngIf="bouteille.pays">
                    <dt><strong>Origine</strong></dt>
                    <dd>{{bouteille.pays }}</dd>
                </div>
            </dl>
    
            <div class="card-link">
                <div>
                    <mat-icon>local_grocery_store</mat-icon><a href="{{bouteille.url_achat}}">Acheter à la SAQ</a>
                </div>
                <div class="voir-info">
                    <mat-icon>playlist_add</mat-icon><a href="{{bouteille.url_infos}}">Voir les informartion</a>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
