
<div *ngIf="bouteille" class="content">
    <mat-card class="example-card">
        <img mat-card-image src="{{bouteille.url_image}}" alt="Photo of a Shiba Inu">
        <mat-card-header class="card-header">
            <h2>{{bouteille.nom}}</h2>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
            <p>{{bouteille.description}}</p>
            <div class="card-link">
                <div>
                    <mat-icon>local_grocery_store</mat-icon><a class="inline-link" href="{{bouteille.url_achat}}">Acheter à la SAQ</a>
                </div>
                <div class="voir-info">
                    <mat-icon>playlist_add</mat-icon><a class="inline-link" href="{{bouteille.url_infos}}">Voir les informartion</a>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="card-action">
            <button (click)="formulaireAjout(bouteille)">ajouter au cellier</button>
        </mat-card-actions>
    </mat-card>
</div>
