<div class="content">
    <h1>Fiche d'une bouteille</h1>
    <section class="resultat">
        <div class="resultat-vin">
            <a class="btn-vin" href="#"><img src="{{bouteille.url_image}}" alt="une bouteille"></a>
            <div class="resultat-vin-data"><a class="target-link" routerLink="/ficheBouteille" >{{bouteille.nom}}</a></div>
            <div class="vin-data-droit">{{bouteille.format}}</div>
            <span class="subtexte"></span>
        </div>
        <div>
            <div>
                <span class="subtexte">id pays: {{bouteille.pays_id}}</span>
            </div>
            <div class="subtexte"></div>
        </div>
        <button (click)='ajouterBouteilleCellier(bouteille.id)'>ajouter au cellier</button>
    </section>
</div>