nav{  
    text-align: center;
    padding:20px;
    margin-bottom: 40px;
}

nav a{
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: white;
    padding: 8px ;
    margin:0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color, ease-in-out 0.3s; 
}

nav a:hover{
    background-color: var(--color-secondary);
}



@media (min-width: 500px) { 
    nav{  
       
        padding:10px 20px;
    }

    
    
}