@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: 'DM Serif Display', serif;
    line-height: 1.25em;
}


h1{
    font-size: calc(2em + 1vmin);
    text-align: center;
   
}

h2{
    font-size: calc(3em + 1vmin);
    line-height: 1em;
    margin-bottom:40px;
}

h3{
    font-size: calc(2em + 1vmin);
}

h4{
    font-size: calc(1.5em + 1vmin);
}

h5{
    font-size: calc(0.9em + 1vmin);
}