@tailwind base;
@tailwind components;
@tailwind utilities;





/*
    SECTION PAGE ACCUEIL
*/

.background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
  }


.background.a {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/2909085/pexels-photo-2909085.jpeg?auto=compress&cs=tinysrgb&w=600");
  }


.covertext {
    position: absolute; /* To make the div to be place anywhere. It is out of the document flow */
    top: 200px; /* The distance between the div with the top of document */
    left: 0px; /* Make the div full width */
    right: 0px; /* Make the div full width */
  }

  .title {
    font-family: Verdana;
    font-weight: 600;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
  }

  .subtitle {
    font-family: Verdana;
    font-size: 23px;
    color: #ffffff;
    text-align: center;
  }

  .explore {
    text-align: center;
    margin-top: 10px;
  }

  .explore .btn-lg,
  .explore .btn-lg:hover {
    border-radius: 30px;
    padding: 15px 25px;
    font-size: 22px;
    background-image: none;
    background-color: #FF4000;
    border-color: #FF4000;
    color: #ffffff;
  }

  .btn {
    border-radius: 0px;
    background-image: none;
    background-color: #FF4000;
    border-color: #FF4000;
    color: #ffffff;
    margin-bottom: 20px;
    box-shadow: none;
    outline: none;
  }

  .btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus {
    color: #ffffff;
    outline: none;
  }




/*
    SECTION PAGE FALLBACK
*/

.container_fallback {
    display: flex;
    justify-content: center;
}

.text_fallback{
    width: 50%; /* or any other width */
    margin: 0 auto;
    text-align: center;

    font-size: 2rem;
    font-family: poppins;
}
.text_fallback h1{
    font-size: 5rem;
    font-family: poppins;
    font-weight: 600;
}
.text_fallback h3{
    background-color: red;
    font-size: 1.5rem;
    font-family: poppins;
    font-weight: 300;
}
.button_fallback{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}



