<div class="conteneur">
    <form class="formulaire">
      <header>
        <h2>Se connecter</h2>
      </header>
      <div class="">
        <div class="input-case">
          <label for="nom"><mat-icon>person</mat-icon></label>
          <input type="text"  placeholder="Nom usager"  required="required"/>
        </div>
        <div class="input-case">
          <label for="motPasse"><mat-icon>lock</mat-icon></label>
          <input type="text"  placeholder="Mot de passe" required="required"/>
        </div>
      </div>

      <button type="submit">Se connecter</button>

      <a color="accent" href="./creerCompte">Créer un compte </a>
    </form>
</div>
