.conteneur{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulaire {
    flex-direction: column;
    align-items: center;
    min-width: 15rem;
    max-width: 100vw;
    border-radius: .5rem;
    color: black;
}

div {
    margin-bottom: 0.5rem;
}

label {
    display: inline-block;
    padding-top: 1rem;
    margin: 0.5rem 0;
    font-size: 14px;
    font-weight: 500;
}

.formulaire input {
    padding: 0.875rem;
    border: none;
    min-height: 2.2em;
    padding: .4em;
    line-height: 1.4em;
    border-radius: 2px;
    box-sizing: border-box;
}

input:not([type=radio]),
select{
    width: 100%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    background-color: #fff;
}

input[type=date] {
    color: #000;
    background-color: #fff;
}


select {
    display: block;
    width: 100%;
    padding: 0.625rem 0;
    margin-top: 0.5rem;
    border-radius: 3px;
    border: 1px solid var(--color-border-input);
}

.formulaire button {
    text-transform: uppercase;
    border: none;
    font-size: 0.725rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #4c1920;
    width: 10rem;
    display: block;
    padding: 0.875rem 1rem;
    margin: 0 auto;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
}

a {
    padding-top: 1rem;
    font-size: 14px;
}

.titre {
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    margin: 18px 0;
    color: #4c1920;
}

.mat-form-field{
    display: block;
}
