
.mat-toolbar{
    background-color:#4c1920;
    
  
}

.mat-toolbar nav{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;  
}

.mat-toolbar img{

}

.mat-toolbar a{
    text-decoration: none;
    color: #fff;
    justify-content: space-around;
}

