
.mat-toolbar{
    background-color:#4c1920;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 60px;
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.mat-toolbar nav{
    display: flex;
    justify-content: space-around;
    flex-grow: 1; 
}

.mat-toolbar nav img{
    width: 60px;
    height: 60px;
    display: block;
}


