<div class="content">
    <div class="content-header">
        <h2 class="titre">Mes Celliers</h2>
        <p class="bouton-filtre"><button mat-button (click)="formulaireAjout(listeCelliers)"><mat-icon>add</mat-icon></button></p>
    </div>
    <div *ngFor="let cellier of listeCelliers">
        <div class="resultat" >
            <div class="resultat-cellier">
                <div class="nom-cellier">
                    <a routerLink="/celliers/{{cellier.id}}" [state]="cellier">
                        <h3>{{ cellier.nom }}</h3>
                    </a>
                    <button (click)="formulaireModification(cellier)"><mat-icon>edit</mat-icon></button>
                </div>
                <p>{{cellier.description}}</p>
            </div>
        </div>
    </div>
</div>
