.register_title {
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
}

.register_container input {
    padding: .7rem;
    border-radius: .5rem;
    border: none;
}

.register_container input:focus {
    outline: unset;
}

.register_container button {
    width: 100%;
    color: white;
    outline: unset;
    border-radius: .5rem;
    padding: .5rem 1rem;
    border: none;
    margin-bottom: 2rem;
    font-size: 1em;
    font-weight: 700;
    background-color: #641B30;
}

.register_container fieldset {
    border-color: white !important;
}

.register_container label,
.register_container input {
    color: white !important;
}