.formulaire-contenu {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1rem;
}

.header-image {
  width: 4rem;
  height: 4rem;
  border-radius: 9999px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

img {
    max-width: 100%;
    display: block;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
}

.mat-form-prefix {
  white-space: nowrap;
  flex: none;
  position: relative;
}

.material-icons{
  vertical-align: -0.125em;
  font-size: 20px;
}

.mat-form-prefix .mat-icon {
  display: block;
  font-size: 120%;
}

.mat-form-flex {
  display: inline-flex;
  align-content: center;
  box-sizing: border-box;
  width: 100%;
}

.mat-form-flex>* {
  margin-right: 0.25rem;
}

.mat-form-inflex {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 180px;
}

.mat-form-flex input {
  margin-top: 0.25em;
  padding: 0.25em 0 0.25em;
}

.retour{
  display: flex;
  align-items: center;
}