<section class="wrapper">
    <div class="resultat-img">
        <a class="btn-vin"><img src="{{bouteille.image}}" alt="une bouteille"></a>
    </div>
    <div class="resultat-vin">
        <div class="resultat-vin-data">
            <a class="target-link">{{bouteille.nom}}</a>
            <div>
                <span class="subtexte">{{bouteille.categorie}}</span>
                <span class="subtexte">{{bouteille.format}}</span>
                <span class="subtexte">{{bouteille.pays}}</span>
            </div>
        </div>

        <div class="boutons-inventaire">
            <div *ngIf="inventaire.errors?.min">
                L'inventaire ne doit pas être inférieur à 0
            </div>
            <button mat-mini-fab (click)="diminuer()"><mat-icon>remove</mat-icon></button>
            <mat-form-field class="inventaire-form-field" appearance ="fill">
                <input matInput type="text" [formControl] = "inventaire">
            </mat-form-field>
            <button mat-mini-fab (click)="augmenter()"><mat-icon>add</mat-icon></button>
            <div class="boutons-actions">
                <a RouterLink = "modifier-cellier"><button mat-mini-fab class="edit" ><mat-icon>edit</mat-icon></button></a>
            </div>
        </div>
 
    </div>
</section>

