<form [formGroup]="modifierBouteilleCellier" (ngSubmit)=putBouteille(modifierBouteilleCellier.value)>
    <header class="card-action">
        <a class="retour" (click)='back()'><mat-icon>arrow_back</mat-icon>Retour</a>
    </header>
    
    <img *ngIf='bouteille' mat-card-image src="{{bouteille.url_image}}" alt="Photo of a Shiba Inu">

    <div class="formulaire-contenu">
        <mat-form-field appearance="fill">
            <mat-label for="url_image">Nom</mat-label>
            <input matInput type="text" id="nom" name="nom" formControlName="nom">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="url_image">Image</mat-label>
            <input matInput type="text" id="url_image" name="url_image" formControlName="url_image">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="description">Description</mat-label>
            <input matInput type="text" id="description" name="description" formControlName="description">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="format">Format</mat-label>
            <input matInput type="text" id="format" name="format" formControlName="format">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="origine">Origine</mat-label>
            <input matInput type="text" id="origine" name="origine" formControlName="origine">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="millesime">Millesime</mat-label>
            <input matInput type="text" id="millesime" name="millesime" formControlName="millesime">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="date_acquisition">Date d'achat</mat-label>
            <input matInput type="date" id=date_acquisition name="date_acquisition" formControlName="date_acquisition">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="prix_paye">Prix</mat-label>
            <input matInput type="text" id="prix_paye" name="prix_paye" formControlName="prix_paye">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="conservation">Conservation</mat-label>
            <input matInput type="text" id=conservation name="conservation" formControlName="conservation">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="notes_personnelles">Notes personnelles</mat-label>
            <input matInput type="text" id="notes_personnelles" name="notes_personnelles" formControlName="notes_personnelles">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label for="url_achat">Lien pour achat</mat-label>
            <input matInput type="text" id="url_achat" name="url_achat" formControlName="url_achat">
        </mat-form-field>
    </div>
    <div class="save">
        <button class="bouton-modifier-cellier" type="submit" mat-flat-button>Modifier</button>
    </div>
</form>
