
.mat-form-field {
    display: block;
    font-size: 0.815rem;
}

.mat-dialog-actions {
    justify-content: center;
}

.mat-dialog-actions button[type=submit] {
    background-color: #4c1920;
    color: white;
}

