.formulaire {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    margin: 1rem 0;
}

.mat-form-field {
    display: block;
    font-size: 0.815rem;
}

button {
    background-color: var(--couleur-primaire);
    color: white;
}

form{
    padding: 60px 0;
}

