.content {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem 5.25rem;
    margin-bottom: 1rem;
}

.resultat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

