<mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav [mode]="mode">
        <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    </mat-sidenav>


    <div class="content">
        <div class="content-header">
            <h2 class="titre">Mon Cellier</h2>
            <p class="bouton-filtre"><button mat-button (click)="sidenav.toggle()">Filtrer</button></p>
        </div>
        <mat-form-field class="recherche">
            <mat-label>Trouvez une bouteille</mat-label>
            <input matInput (keyup)="recherche($event)" [formControl]="texteRecherche">
        </mat-form-field>
        <section *ngFor="let uneBouteille of bouteillesCellier" class="resultat">
            <app-cellier-bouteille [uneBouteille]='uneBouteille'></app-cellier-bouteille>
        </section>
    </div>

</mat-sidenav-container>