
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [mode]="mode.value">
      <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
      <p class="sidenav-content">Filtrer votre cellier</p>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div class="content">
        <h2 class="titre">Mon Cellier</h2>
        <p class="bouton-filtre"><button mat-button (click)="sidenav.toggle()">Filtrer</button></p>
        <section *ngFor="let uneBouteille of cellier" class="resultat">
        <app-cellier-bouteille [uneBouteille] = 'uneBouteille'></app-cellier-bouteille>
        </section>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  



